<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/styleLogin.css">
</head>
<body>

    <nav class="navbar">
        <ul>
            <li><a href="/profile">Mi perfil</a></li>
            <li><a href="/register">Registro</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/productos">Agregar Productos</a></li>
        </ul>
    </nav>

    <div class="login-container">
        <form>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" placeholder="email" autocomplete="on"><br>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input name="password" type="password" placeholder="password"><br>
            </div>
            <button type="submit" class="login-btn">Loguearme!</button>
            <div>
                <button type="button" class="reset-password-btn"><a href="/resetpassword">Resetea tu Contraseña</a></button>
            </div>
        </form>
    </div>
  
    <script src="/static/js/login.js"></script>
</body>
</html>
