
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Perfil</title>
     <link rel="stylesheet" href="/static/css/styleCarts.css">
     <link rel="stylesheet" href="/static/css/styleProfile.css">
    <link rel="stylesheet" href="/static/css/styleChat.css"> <!-- Enlace al CSS del chat -->
    <link rel="stylesheet" href="/static/css/styleProducto.css"> <!-- Enlace al CSS de productos -->
</head>
<body>
    <!-- Encabezado -->
    <header>
        <div class="header-actions">
        <button id="toggleProfile" aria-expanded="false"></button>
         <div class="buttonProducto" id="buttonNewProducto"></div>
        </div>
    </header>

    <!-- Overlay para el perfil -->
    <div id="overlay"></div>
    

    <!-- Contenido Principal -->
    <main>
        <!-- Informaci贸n del Perfil -->
        <section class="profile-info" id="profileInfo">
            <h1>Mi Perfil</h1>
            <ul>
                <li>Nombre: <span id="spanNombre"></span></li>
                <li>Apellido: <span id="spanApellido"></span></li>
                <li>Correo electr贸nico: <span id="spanEmail"></span></li>
                <li>Rol: <span id="spanRol"></span></li>
            </ul>
            <div class="profile-buttons">
                <button onclick="window.location.href='/edit'">Editar mis datos</button>
                <button id="btnPremium">Hacerme Premium</button>
                <button id="logout">Cerrar sesi贸n</button>
            </div>
        </section>
        <!-- Informaci贸n del Carrito -->
        <section class="cart-info"  id="cartInfo">
            <h2>Mi carrito:</h2>
            <div id="productos-carrito"></div>
        </section>

        <!-- Contenido de Productos -->
           <div id="premium-content">
            <div id="productos-container"></div>
        </div>
        
    </main>

    <!-- Chat -->
     <button id="toggleCarts" aria-expanded="false"></button>
    <button id="chat-toggle"></button>
    <div class="chat-container" id="chat-container">
        <div class="chat-header" id="chat-header">Chat</div>
        <div class="chat-messages" id="chat-messages"></div>
        <div class="chat-input">
            <input type="text" id="mensaje" placeholder="Escribe un mensaje...">
            <button onclick="enviarMensaje()">Enviar</button>
        </div>
    </div>

    <!-- Scripts -->
    <script src="/static/js/profile.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/static/js/chat.js"></script>
    <script src="/static/js/productos.js"></script>
</body>
</html>