
  <link rel="stylesheet" href="/static/css/stylesRecuperarPass.css">
<body>
  <div class="container">
    <h1>Restablecer Contraseña</h1>
    <form>
      <div class="form-group">
        <label for="inputEmail">Email</label>
        <input type="email" id="inputEmail" name="email" placeholder="Introduce tu email" autocomplete="on" required >
      </div>
      <button type="submit">Enviar mail</button>
    </form>
    <p>¿Ya la recordaste? <a href="/login">Volver al login</a>.</p>
  </div>
  <script src="/static/js/resetpassword.js"></script>
</body>